<footer class="footer bg_img" data-background="assets/images/bg/bg-7.jpg">
  <div class="footer__top">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12 text-center">
          <a href="#0" class="footer-logo"
            ><img src="/assets/images/jp.png" alt="image"
          /></a>
          <ul
            class="footer-short-menu d-flex flex-wrap justify-content-center mt-4"
          >
            <li><a href="#0">Home</a></li>
            <li><a href="#0">Privacy & Policy</a></li>
            <li><a href="#0">Terms & Conditions</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-6 text-md-left text-center">
          <p>
            © 2020 <a href="/" class="base--color">BullMarkets Limited</a>. All
            rights reserved
          </p>
        </div>
        <div class="col-md-6">
          <ul
            class="social-link-list d-flex flex-wrap justify-content-md-end justify-content-center"
          >
            <li>
              <a
                href="#0"
                data-toggle="tooltip"
                data-placement="top"
                title="facebook"
                ><i class="lab la-facebook-f"></i
              ></a>
            </li>
            <li>
              <a
                href="#0"
                data-toggle="tooltip"
                data-placement="top"
                title="twitter"
                ><i class="lab la-twitter"></i
              ></a>
            </li>
            <li>
              <a
                href="#0"
                data-toggle="tooltip"
                data-placement="top"
                title="pinterest"
                ><i class="lab la-pinterest-p"></i
              ></a>
            </li>
            <li>
              <a
                href="#0"
                data-toggle="tooltip"
                data-placement="top"
                title="pinterest"
                ><i class="lab la-pinterest-in"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
