<header class="header">
  <div class="header__bottom">
    <div class="container">
      <nav class="navbar navbar-expand-xl p-0 align-items-center">
        <a class="site-logo site-title" href="/">
          <img src="/assets/images/jp.png" alt="site-logo" />
        </a>
        <ul class="account-menu mobile-acc-menu">
          <li class="icon">
            <a href="/login"><i class="las la-user"></i></a>
          </li>
        </ul>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="menu-toggle"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav main-menu m-auto">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/plan">Plan</a></li>
            <li><a href="/blog">Blog</a></li>
            <!-- <li class="menu_has_children">
              <a href="#0">Blog</a>
              <ul class="sub-menu">
                <li><a href="/blog">Blog Posts</a></li>
                <li><a href="/blog-details">Blog Details</a></li>
              </ul>
            </li> -->
            <!-- <li class="menu_has_children">
              <a href="#0">Page</a>
              <ul class="sub-menu">
                <li><a href="/error-404">Error - 404</a></li>
              </ul>
            </li> -->
            <li><a href="/contact">Contact</a></li>
          </ul>
          <div class="nav-right">
            <ul class="account-menu ml-3">
              <li class="icon">
                <a href="/login"><i class="las la-user"></i></a>
              </li>
            </ul>
            <select class="select d-inline-block w-auto ml-xl-3">
              <option>Eng</option>
              <option>Ban</option>
              <option>Hin</option>
            </select>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <!-- header__bottom end -->
</header>
