<!DOCTYPE html>
<html lang="en">
  <!-- head tag starts here -->
  <%- include('../pages/partials/head') %>
  <!-- head tag ends here  -->

  <body>
    <div class="preloader">
      <div class="preloader-container">
        <span class="animated-preloader"></span>
      </div>
    </div>

    <!-- scroll-to-top start -->
    <div class="scroll-to-top">
      <span class="scroll-icon">
        <i class="fa fa-rocket" aria-hidden="true"></i>
      </span>
    </div>
    <!-- scroll-to-top end -->

    <div class="full-wh">
      <!-- STAR ANIMATION -->
      <div class="bg-animation">
        <div id="stars"></div>
        <div id="stars2"></div>
        <div id="stars3"></div>
        <div id="stars4"></div>
      </div>
      <!-- / STAR ANIMATION -->
    </div>
    <div class="page-wrapper">
      <!-- header-section start  -->
      <%- include('../pages/partials/header') %>
      <!-- header-section end  -->

      <!-- inner hero start -->
      <section
        class="inner-hero bg_img"
        data-background="assets/images/bg/bg-1.jpg"
      >
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <h2 class="page-title">About Us</h2>
              <ul class="page-breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li>About</li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <!-- inner hero end -->

      <!-- how work section start -->
      <section
        class="pt-120 pb-120 bg_img"
        data-background="assets/images/bg/bg-5.jpg"
      >
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
              <div class="section-header">
                <h2 class="section-title">
                  <span class="font-weight-normal">How</span>
                  <b class="base--color">BullMarkets</b>
                  <span class="font-weight-normal">Works</span>
                </h2>
                <p>
                  Get involved in our tremendous platform and Invest. We will
                  utilize your money and give you profit in your wallet
                  automatically.
                </p>
              </div>
            </div>
          </div>
          <!-- row end -->
          <div class="row justify-content-center mb-none-30">
            <div class="col-lg-4 col-md-6 work-item mb-30">
              <div class="work-card text-center">
                <div class="work-card__icon">
                  <i class="las la-user base--color"></i>
                  <span class="step-number">01</span>
                </div>
                <div class="work-card__content">
                  <h4 class="base--color mb-3">Create Account</h4>
                </div>
              </div>
              <!-- work-card end -->
            </div>
            <div class="col-lg-4 col-md-6 work-item mb-30">
              <div class="work-card text-center">
                <div class="work-card__icon">
                  <i class="las la-hand-holding-usd base--color"></i>
                  <span class="step-number">02</span>
                </div>
                <div class="work-card__content">
                  <h4 class="base--color mb-3">Invest To Plan</h4>
                </div>
              </div>
              <!-- work-card end -->
            </div>
            <div class="col-lg-4 col-md-6 work-item mb-30">
              <div class="work-card text-center">
                <div class="work-card__icon">
                  <i class="las la-wallet base--color"></i>
                  <span class="step-number">03</span>
                </div>
                <div class="work-card__content">
                  <h4 class="base--color mb-3">Get Profit</h4>
                </div>
              </div>
              <!-- work-card end -->
            </div>
          </div>
        </div>
      </section>
      <!-- how work section end  -->

      <!-- about section start -->
      <section
        class="about-section pt-120 pb-120 bg_img"
        data-background="assets/images/bg/bg-2.jpg"
      >
        <div class="container">
          <div class="row">
            <div class="col-lg-6 offset-lg-6">
              <div class="about-content">
                <h2 class="section-title mb-3">
                  <span class="font-weight-normal">About</span>
                  <b class="base--color">Us</b>
                </h2>
                <p>
                  We are an international financial company engaged in
                  investment activities, which are related to trading on
                  financial markets and cryptocurrency exchanges performed by
                  qualified professional traders.
                </p>
                <p class="mt-4">
                  Our goal is to provide our investors with a reliable source of
                  high income, while minimizing any possible risks and offering
                  a high-quality service, allowing us to automate and simplify
                  the relations between the investors and the trustees. We work
                  towards increasing your profit margin by profitable
                  investment. We look forward to you being part of our
                  community.
                </p>
                <a href="#0" class="cmn-btn mt-4">MORE INFO</a>
              </div>
              <!-- about-content end -->
            </div>
          </div>
        </div>
      </section>
      <!-- about section end -->

      <!-- team section start -->
      <section
        class="pt-120 pb-120 bg_img"
        data-background="assets/images/bg/bg-5.jpg"
      >
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
              <div class="section-header">
                <h2 class="section-title">
                  <span class="font-weight-normal">Our Expert</span>
                  <b class="base--color">Team Members</b>
                </h2>
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse
                  voluptatum eaque earum quos quia? Id aspernatur ratione,
                  voluptas nulla rerum laudantium neque ipsam eaque
                </p>
              </div>
            </div>
          </div>
          <!-- row end -->
          <div class="row justify-content-center mb-none-30">
            <div class="col-xl-3 col-lg-4 col-sm-6 mb-30">
              <div class="team-card">
                <div class="team-card__thumb">
                  <img src="assets/images/investor/1.jpg" alt="image" />
                </div>
                <div class="team-card__content">
                  <h4 class="name mb-1">Fahad Bin Faiz</h4>
                  <span class="designation">CEO</span>
                </div>
              </div>
              <!-- team-card end -->
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 mb-30">
              <div class="team-card">
                <div class="team-card__thumb">
                  <img src="assets/images/investor/2.jpg" alt="image" />
                </div>
                <div class="team-card__content">
                  <h4 class="name mb-1">Danial K.</h4>
                  <span class="designation">CTO</span>
                </div>
              </div>
              <!-- team-card end -->
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 mb-30">
              <div class="team-card">
                <div class="team-card__thumb">
                  <img src="assets/images/investor/3.jpg" alt="image" />
                </div>
                <div class="team-card__content">
                  <h4 class="name mb-1">Lew Son</h4>
                  <span class="designation">Marketing Head</span>
                </div>
              </div>
              <!-- team-card end -->
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 mb-30">
              <div class="team-card">
                <div class="team-card__thumb">
                  <img src="assets/images/investor/4.jpg" alt="image" />
                </div>
                <div class="team-card__content">
                  <h4 class="name mb-1">Tend z Joe</h4>
                  <span class="designation">Designer</span>
                </div>
              </div>
              <!-- team-card end -->
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 mb-30">
              <div class="team-card">
                <div class="team-card__thumb">
                  <img src="assets/images/investor/5.jpg" alt="image" />
                </div>
                <div class="team-card__content">
                  <h4 class="name mb-1">Sam Joe</h4>
                  <span class="designation">Developer</span>
                </div>
              </div>
              <!-- team-card end -->
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 mb-30">
              <div class="team-card">
                <div class="team-card__thumb">
                  <img src="assets/images/investor/6.jpg" alt="image" />
                </div>
                <div class="team-card__content">
                  <h4 class="name mb-1">Alex Joe</h4>
                  <span class="designation">UX Expert</span>
                </div>
              </div>
              <!-- team-card end -->
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 mb-30">
              <div class="team-card">
                <div class="team-card__thumb">
                  <img src="assets/images/investor/7.jpg" alt="image" />
                </div>
                <div class="team-card__content">
                  <h4 class="name mb-1">Juna Sun</h4>
                  <span class="designation">SEO Expert</span>
                </div>
              </div>
              <!-- team-card end -->
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 mb-30">
              <div class="team-card">
                <div class="team-card__thumb">
                  <img src="assets/images/investor/8.jpg" alt="image" />
                </div>
                <div class="team-card__content">
                  <h4 class="name mb-1">Profed Laun</h4>
                  <span class="designation">Manager</span>
                </div>
              </div>
              <!-- team-card end -->
            </div>
          </div>
        </div>
      </section>
      <!-- team section end -->

      <!-- faq section start -->
      <section class="pt-120 pb-120">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
              <div class="section-header">
                <h2 class="section-title">
                  <span class="font-weight-normal">Frequently Asked</span>
                  <b class="base--color">Questions</b>
                </h2>
                <p>
                  We answer some of your Frequently Asked Questions regarding
                  our platform. If you have a query that is not answered here,
                  Please contact us.
                </p>
              </div>
            </div>
          </div>
          <!-- row end -->
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <div class="accordion cmn-accordion" id="accordionExample">
                <div class="card">
                  <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                      <button
                        class="btn btn-link btn-block text-left"
                        type="button"
                        data-toggle="collapse"
                        data-target="#collapseOne"
                        aria-expanded="true"
                        aria-controls="collapseOne"
                      >
                        <i class="las la-question-circle"></i>
                        <span
                          >When can I deposit/withdraw from my Investment
                          account?</span
                        >
                      </button>
                    </h2>
                  </div>

                  <div
                    id="collapseOne"
                    class="collapse show"
                    aria-labelledby="headingOne"
                    data-parent="#accordionExample"
                  >
                    <div class="card-body">
                      Deposit and withdrawal are available for at any time. Be
                      sure, that your funds are not used in any ongoing trade
                      before the withdrawal. The available amount is shown in
                      your dashboard on the main page of Investing platform.
                      Deposit and withdrawal are available for at any time. Be
                      sure, that your funds are not used in any ongoing trade
                      before the withdrawal. The available amount is shown in
                      your dashboard on the main page of Investing platform.
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                      <button
                        class="btn btn-link btn-block text-left collapsed"
                        type="button"
                        data-toggle="collapse"
                        data-target="#collapseTwo"
                        aria-expanded="false"
                        aria-controls="collapseTwo"
                      >
                        <i class="las la-question-circle"></i>
                        <span>How do I check my account balance?</span>
                      </button>
                    </h2>
                  </div>
                  <div
                    id="collapseTwo"
                    class="collapse"
                    aria-labelledby="headingTwo"
                    data-parent="#accordionExample"
                  >
                    <div class="card-body">
                      You can see this anytime on your accounts dashboard. You
                      can see this anytime on your accounts dashboard.
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                      <button
                        class="btn btn-link btn-block text-left collapsed"
                        type="button"
                        data-toggle="collapse"
                        data-target="#collapseThree"
                        aria-expanded="false"
                        aria-controls="collapseThree"
                      >
                        <i class="las la-question-circle"></i>
                        <span>I forgot my password, what should I do?</span>
                      </button>
                    </h2>
                  </div>
                  <div
                    id="collapseThree"
                    class="collapse"
                    aria-labelledby="headingThree"
                    data-parent="#accordionExample"
                  >
                    <div class="card-body">
                      Visit the password reset page, type in your email address
                      and click the `Reset` button. Visit the password reset
                      page, type in your email address and click the `Reset`
                      button.
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingFour">
                    <h2 class="mb-0">
                      <button
                        class="btn btn-link btn-block text-left collapsed"
                        type="button"
                        data-toggle="collapse"
                        data-target="#collapseFour"
                        aria-expanded="false"
                        aria-controls="collapseFour"
                      >
                        <i class="las la-question-circle"></i>
                        <span
                          >How will I know that the withdrawal has been
                          successful?</span
                        >
                      </button>
                    </h2>
                  </div>
                  <div
                    id="collapseFour"
                    class="collapse"
                    aria-labelledby="headingFour"
                    data-parent="#accordionExample"
                  >
                    <div class="card-body">
                      You will get an automatic notification once we send the
                      funds and you can always check your transactions or
                      account balance. Your chosen payment system dictates how
                      long it will take for the funds to reach you. You will get
                      an automatic notification once we send the funds and you
                      can always check your transactions or account balance.
                      Your chosen payment system dictates how long it will take
                      for the funds to reach you.
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingFive">
                    <h2 class="mb-0">
                      <button
                        class="btn btn-link btn-block text-left collapsed"
                        type="button"
                        data-toggle="collapse"
                        data-target="#collapseFive"
                        aria-expanded="false"
                        aria-controls="collapseFive"
                      >
                        <i class="las la-question-circle"></i>
                        <span>How much can I withdraw?</span>
                      </button>
                    </h2>
                  </div>
                  <div
                    id="collapseFive"
                    class="collapse"
                    aria-labelledby="headingFive"
                    data-parent="#accordionExample"
                  >
                    <div class="card-body">
                      You can withdraw the full amount of your account balance
                      minus the funds that are used currently for supporting
                      opened positions. You can withdraw the full amount of your
                      account balance minus the funds that are used currently
                      for supporting opened positions.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- faq section end -->

      <!-- cta section start -->
      <section class="pb-120">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-xl-8">
              <div
                class="cta-wrapper bg_img border-radius--10 text-center"
                data-background="assets/images/bg/bg-8.jpg"
              >
                <h2 class="title mb-3">Get Started Today With Us</h2>
                <p>
                  This is a Revolutionary Money Making Platform! Invest for
                  Future in Stable Platform and Make Fast Money. Not only we
                  guarantee the fastest and the most exciting returns on your
                  investments, but we also guarantee the security of your
                  investment.
                </p>
                <a href="/registration" class="cmn-btn mt-4">Join Us</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- cta section end -->

      <!-- footer section start -->
      <%- include('../pages/partials/footer') %>
    </div>

    <script src="assets/js/vendor/jquery-3.5.1.min.js"></script>
    <script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="assets/js/vendor/slick.min.js"></script>
    <script src="assets/js/vendor/wow.min.js"></script>
    <script src="assets/js/contact.js"></script>
    <script src="assets/js/app.js"></script>
  </body>
</html>
