<!DOCTYPE html>
<html lang="en">
  <!-- head tag starts here -->
  <%- include('../pages/partials/head') %>
  <!-- head tag ends here  -->
  <body>
    <div class="preloader">
      <div class="preloader-container">
        <span class="animated-preloader"></span>
      </div>
    </div>

    <!-- scroll-to-top start -->
    <div class="scroll-to-top">
      <span class="scroll-icon">
        <i class="fa fa-rocket" aria-hidden="true"></i>
      </span>
    </div>
    <!-- scroll-to-top end -->

    <div class="full-wh">
      <!-- STAR ANIMATION -->
      <div class="bg-animation">
        <div id="stars"></div>
        <div id="stars2"></div>
        <div id="stars3"></div>
        <div id="stars4"></div>
      </div>
      <!-- / STAR ANIMATION -->
    </div>
    <div class="page-wrapper">
      <!-- header-section start  -->
      <%- include('../pages/partials/header') %>
      <!-- header-section end  -->

      <!-- inner hero start -->
      <section
        class="inner-hero bg_img"
        data-background="assets/images/bg/bg-1.jpg"
      >
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <h2 class="page-title">All Plans</h2>
              <ul class="page-breadcrumb">
                <li><a href="/">Home</a></li>
                <li>Plan</li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <!-- inner hero end -->

      <!-- package section start -->
      <section class="pt-120 pb-120">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
              <div class="section-header">
                <h2 class="section-title">
                  <span class="font-weight-normal">Investment</span>
                  <b class="base--color">Plans</b>
                </h2>
                <p>
                  To make a solid investment, you have to know where you are
                  investing. Find a plan which is best for you.
                </p>
              </div>
            </div>
          </div>
          <!-- row end -->
          <div class="row justify-content-center mb-none-30">
            <div class="col-xl-3 col-lg-4 col-md-6 mb-30">
              <div
                class="package-card text-center bg_img"
                data-background="assets/images/bg/bg-4.png"
              >
                <h4 class="package-card__title base--color mb-2">Slivesto</h4>
                <ul class="package-card__features mt-4">
                  <li>Return 6%</li>
                  <li>Every Week</li>
                  <li>For 5 Week</li>
                  <li>
                    Total 30% +
                    <span class="badge base--bg text-dark">Capital</span>
                  </li>
                </ul>
                <div class="package-card__range mt-5 base--color">$200</div>
                <a href="#0" class="cmn-btn btn-md mt-4">Invest Now</a>
              </div>
              <!-- package-card end -->
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-30">
              <div
                class="package-card text-center bg_img"
                data-background="assets/images/bg/bg-4.png"
              >
                <h4 class="package-card__title base--color mb-2">Life Time</h4>
                <ul class="package-card__features mt-4">
                  <li>Return 0.2%</li>
                  <li>Every Day</li>
                  <li>For Lifetime</li>
                  <li>Lifetime Earning</li>
                </ul>
                <div class="package-card__range mt-5 base--color">
                  $100 - $200
                </div>
                <a href="#0" class="cmn-btn btn-md mt-4">Invest Now</a>
              </div>
              <!-- package-card end -->
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-30">
              <div
                class="package-card text-center bg_img"
                data-background="assets/images/bg/bg-4.png"
              >
                <h4 class="package-card__title base--color mb-2">
                  Black Horse
                </h4>
                <ul class="package-card__features mt-4">
                  <li>Return 5%</li>
                  <li>Every Week</li>
                  <li>For 40 Week</li>
                  <li>Total 200%</li>
                </ul>
                <div class="package-card__range mt-5 base--color">
                  $500 - $5000
                </div>
                <a href="#0" class="cmn-btn btn-md mt-4">Invest Now</a>
              </div>
              <!-- package-card end -->
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-30">
              <div
                class="package-card text-center bg_img"
                data-background="assets/images/bg/bg-4.png"
              >
                <h4 class="package-card__title base--color mb-2">Silver</h4>
                <ul class="package-card__features mt-4">
                  <li>Return 5%</li>
                  <li>Every Day</li>
                  <li>For 25 Day</li>
                  <li>Total 125%</li>
                </ul>
                <div class="package-card__range mt-5 base--color">$500</div>
                <a href="#0" class="cmn-btn btn-md mt-4">Invest Now</a>
              </div>
              <!-- package-card end -->
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-30">
              <div
                class="package-card text-center bg_img"
                data-background="assets/images/bg/bg-4.png"
              >
                <h4 class="package-card__title base--color mb-2">Elephant</h4>
                <ul class="package-card__features mt-4">
                  <li>Return 1.1USD</li>
                  <li>Every Day</li>
                  <li>For 50 Day</li>
                  <li>
                    Total 55USD + <span class="badge base--bg">Capital</span>
                  </li>
                </ul>
                <div class="package-card__range mt-5 base--color">
                  $500 - $700
                </div>
                <a href="#0" class="cmn-btn btn-md mt-4">Invest Now</a>
              </div>
              <!-- package-card end -->
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-30">
              <div
                class="package-card text-center bg_img"
                data-background="assets/images/bg/bg-4.png"
              >
                <h4 class="package-card__title base--color mb-2">Cobra</h4>
                <ul class="package-card__features mt-4">
                  <li>Return 10USD</li>
                  <li>Every Hour</li>
                  <li>For 150 Hour</li>
                  <li>
                    Total 1500USD + <span class="badge base--bg">Capital</span>
                  </li>
                </ul>
                <div class="package-card__range mt-5 base--color">$1000</div>
                <a href="#0" class="cmn-btn btn-md mt-4">Invest Now</a>
              </div>
              <!-- package-card end -->
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-30">
              <div
                class="package-card text-center bg_img"
                data-background="assets/images/bg/bg-4.png"
              >
                <h4 class="package-card__title base--color mb-2">Lion</h4>
                <ul class="package-card__features mt-4">
                  <li>Return 0.2%</li>
                  <li>Every Day</li>
                  <li>For Lifetime</li>
                  <li>Lifetime Earning</li>
                </ul>
                <div class="package-card__range mt-5 base--color">
                  $100 - $500
                </div>
                <a href="#0" class="cmn-btn btn-md mt-4">Invest Now</a>
              </div>
              <!-- package-card end -->
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-30">
              <div
                class="package-card text-center bg_img"
                data-background="assets/images/bg/bg-4.png"
              >
                <h4 class="package-card__title base--color mb-2">Tiger</h4>
                <ul class="package-card__features mt-4">
                  <li>Return 0.2%</li>
                  <li>Every Day</li>
                  <li>For Lifetime</li>
                  <li>Lifetime Earning</li>
                </ul>
                <div class="package-card__range mt-5 base--color">
                  $100 - $500
                </div>
                <a href="#0" class="cmn-btn btn-md mt-4">Invest Now</a>
              </div>
              <!-- package-card end -->
            </div>
          </div>
          <!-- row end -->
        </div>
      </section>
      <!-- package section end  -->

      <!-- footer section start -->
      <%- include('../pages/partials/footer') %>
    </div>

    <script src="assets/js/vendor/jquery-3.5.1.min.js"></script>
    <script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="assets/js/vendor/slick.min.js"></script>
    <script src="assets/js/vendor/wow.min.js"></script>
    <script src="assets/js/contact.js"></script>
    <script src="assets/js/app.js"></script>
  </body>
</html>
